<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer List</title>
</head>
<body>
    <h1>Customer List</h1>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Action</th>
        </tr>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.first_name}"></td>
            <td th:text="${customer.last_name}"></td>
            <td th:text="${customer.street}"></td>
            <td th:text="${customer.city}"></td>
            <td th:text="${customer.state}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.phone}"></td>
            <td>
                <a th:href="@{/delete-customer/{uuid}(uuid=${customer.uuid})}">Delete</a>
                <a th:href="@{/update-customer/{uuid}(uuid=${customer.uuid})}">Update</a>
            </td>
        </tr>
    </table>
    <br>
    <a href="/create-customer">Create New Customer</a>
</body>
</html>
